################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/testsql.sql
/.vs/VSWorkspaceState.json
/.vs/TestGit/v15/.suo
